*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 22px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1A1A;
}
header nav ul li:last-of-type a{
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}

.who_we_are{
    padding: 137px 0 128px;
    background: #ECE7E4;
    position: relative;
}
.content_holder{
    max-width: 1240px;
    margin: auto;
}
.image_holder{
    position: absolute;
    right:0; top:0; width:50%;
    height: 100%;
    background-image: url('../images/home_image.jpg');
    background-size: cover;
}
.content_holder h3{
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.content_holder h1{
    margin-bottom: 18px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}
.content_holder p{
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.content_holder a{
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.firm{
    padding: 96px 0 120px 0;
}
.firm .container{
    max-width: 768px;
    margin: auto;
}
.firm h3{
    width: 134px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.description_firm{
    max-width: 493px;
    padding-top: 4px;
}
.description_firm p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}
.description_firm .member_card{
    margin-bottom: 0;
    padding: 8px 0;
}
.description_firm .member_card p{
    margin-bottom: 0;
}

.reeding_house{
    min-height: 600px;
    background-image: url(../images/reeding-house.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.reeding_house .description{
    max-width: 285px;
}
.reeding_house .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.marble_staircase{
    min-height: 600px;
    background-image: url(../images/marble_staircase.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.marble_staircase .description{
    max-width: 285px;
}
.marble_staircase .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.marble_staircase .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.process{
    padding:100px 0;
}
.process .container{
    max-width: 1168px;
    margin: auto;
}
.process h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 13px;
}
.process h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    margin-bottom: 47px;
}
.process_step{
    max-width: 295px;
    text-align: center;
}
.process_step img{
    margin-bottom: 15px;
}
.process_step h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
    margin-bottom: 10px;
}
.process_step p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}

.customers{
    padding: 100px 0;
    background: #403E3B;
}
.customers .container{
    max-width: 1168px;
    margin: auto;
}
.customers .d_flex{
    justify-content: start;
}
.customers_content{
    max-width: 460px;
    padding: 35px 9px 35px 0;
    margin-right: 132px;
}
.customers_content h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.customers_content h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.customers_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}
.customers_group{
    max-width: 432px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}
.customers_group a{
    display: block;
    width: 128px;
}

.swirling_staircase{
    min-height: 600px;
    background-image: url(../images/swirling_staircase.jpg);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;
}
.swirling_staircase .description{
    max-width: 285px;
}
.swirling_staircase .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.swirling_staircase .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.projects{
    padding: 113px 0 111px;
    background: #F7F7F7;
}
.projects .container{
    max-width: 1168px;
    margin: auto;
}
.projects h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.projects p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.projects .d_flex{
    align-items: center;
    margin-bottom: 53px;
}
.projects article{
    max-width: 375px;
    position: relative;
    overflow: hidden;
}
.projects article:hover .describe{
    bottom: 0;
}
.projects article img{
    width: 100%;
}
.projects .describe{
    bottom: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    transition: 1s;
}
.projects .describe h4{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
}
.projects .describe h4 span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.projects .describe a{
    text-decoration: none;
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.projects a{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}

.team{
    padding: 96px 0 128px 0;
}
.team .container{
    max-width: 1168px;
}
.team .d_flex{
    justify-content: start;
}
.team_description{
    max-width: 358px;
    margin-right: 37px;
}
.team_description h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px;
}
.team_description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 41px;
}
.team_description a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    margin-left: 25px;
}
.team_members{
    padding-top: 12px;
    max-width: 675px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.member_card{
    width: 280px;
    display: flex;
    margin-bottom: 52px;
}
.member_img{
    margin-right: 30px;
}
.member_data{
    padding: 22px 30px 0 0;
}
.member_data p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.member_data span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

.get_in_touch{
    padding: 100px 0 117px 0;
    background: #CEC4BC;
}
.get_in_touch .container{
    max-width: 1168px;
    margin: auto;
}
.get_in_touch .d_flex{
    align-items: center;
}
.get_in_touch h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;        
    letter-spacing: 2px;
    text-transform: uppercase;        
    color: #645C55;
}
.get_in_touch p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;      
    color: #1B1A1A;
}
.get_in_touch a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    border-radius: 14px;
    margin-top: 45px;
    padding: 11px 20px;
}

footer{
    padding: 62px 0 60px 0;
    background: #F7F7F7;
}
footer .container{
    max-width: 1168px;
    margin: auto;
}
footer .footer_content a{
    display: inline-block;
    margin-bottom: 20px;
}
.footer_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
    color: #645C55;
}
footer ul{
    list-style: none;
    align-self: flex-end;
    display: flex;
}
footer li:nth-child(2){
    margin-left: 20px;
}
footer li:nth-child(3){
    margin-left: 26px;
}